{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}  {% endblock %}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

        <style>
            * {
                font-size: 21px;                
            }

            body {
                background: url({{ asset('/build/images/background.jpeg') }}) !important;
                background-size: cover !important;
            }

            h5.card-title, h5.card-title > i {
                font-size: 20px !important;
            }

            input[disabled=disabled] {
                color: whitesmoke !important;
            }

            /* Portable */
            @media all and (max-device-width: 480px)
            {
                * {
                    font-size: 36px;
                }  
                .container {
                    max-width: 900px;
                } 
                .colxs6 {
                    min-width: 50% !important;      
                }      
                .categorieDiv {
                    bottom: 0.8em !important; 
                    left: 0.7em !important;
                }
                .categorieLabel {
                    font-size: 32px !important;
                }   
                h5.card-title, h5.card-title > i {
                    font-size: 32px !important;
                }      
            }

            /* Portable */
            @media all and (max-device-width: 480px)
            {
                #btnSaverCharge {
                    height: 65px !important;
                }
                /* Modal plus large */
                .modal-content {
                    width: 850px !important;
                    margin-top: 5em !important;
                    margin-left: -170px !important;
                }
            }

            /* Tablette */
            @media all and (min-device-width: 480px) and (max-device-width: 768px)
            {
                /* Modal plus large */
                .modal-content {
                    width: 700px;
                    margin-left: -100px !important;
                }
                .container {
                    max-width: 850px !important;
                }
            }

            /* Ordinateur */
            @media all and (min-device-width: 769px) and (max-device-width: 1439px)
            {
                /* Modal plus large */
                .modal-content {
                    width: 700px;
                    margin-left: -100px !important;
                }
            }

            /* Ecran large */
            @media all and (min-device-width: 1440px) 
            {
                /* Modal plus large */
                .modal-content {
                    width: 700px;
                    margin-left: -100px !important;
                }
            }   

        </style>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>        
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navPrincipale">
            <a class="navbar-brand" href="{{ path('home') }}"><i class="fa fa-database"></i> MySpend</a>
            <button class="navbar-toggler" style="border: none !important; padding: 0 !important" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href={{ path('charges_list') }}><i class="fa fa-sort-amount-asc"></i> Charges</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={{ path('alimentation_list') }}><i class="fa fa-cutlery"></i> Alimentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-gear"></i> Paramètres</a>
                        </li> 
                    {% endif %}                                       
                </ul>
                <hr class="d-none d-sm-block" />
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        <li class="pull-right"><a class="nav-link" href="{{ path('app_logout') }}"><i class="fa fa-sign-out"></i> Déconnexion</a></li>
                    {% else %}
                        <li class="pull-right">
                            <a class="nav-link" href="{{ path('app_login') }}"><i class="fa fa-sign-in"></i> Se connecter</a>
                        </li>
                        <li class="pull-right">
                            <a class="nav-link" href="{{ path('registration') }}"><i class="fa fa-user-plus"></i> S'inscrire</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

            
        <div class="container">            
            {% block body %}{% endblock %}                                
        </div>
        

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
         
        {% block css %}{% endblock %}
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
    </body>
</html>
